<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/home.css" />
    <title>Home</title>
  </head>

  <body>
    <div class="container">
      <img src="/static/images/logo.png" alt="Mobwiser IT Academy - MVC Node" />
      <h1>Welcome to <%= name %></h1>
    </div>
  </body>
</html>
